<h1 class="game-title">New Game</h1>
<div class="letter-container">
<% @letters.each do |letter| %>
<div class="letter"><%= letter.upcase %></div>
<% end %>
</div>

<form class="form" action="/score" method="post">
  <h3 class= "form-title">What is the longest word you can find ?</h3>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="submit">
    <input type="text" name="word">
    <input type="submit">
  </div>
</form>
